.navbar-custom {
  background-color: rgba(7, 2, 104, 0.947);
}

.navlink {
  color: white;
}

.navbar-brand {
  color: rgb(255, 77, 77);
  font-weight: bold;
}

h1 {
  text-align: center;
  padding: 30px;
  text-shadow: 1px 1px rgb(255, 77, 77), 
  2px 2px rgb(255, 77, 77), 
  3px 3px rgb(255, 77, 77), 
  4px 4px rgb(255, 77, 77)
}

body {
  display: grid;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.home, .signin-form, .new-itinerary-form, .new-place-form, .signup-form {
  grid-column-start: 3;
  grid-row-start: 1;
  text-align: center;
}

.itinerary-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.individual-itinerary {
  grid-column-start: 2;
  grid-column-end: 6;
  text-align: center;
  background-color: rgba(36, 162, 204, 0.491);
  margin: 10px;
  padding-left: 100px;
  padding-right: 100px;
}

.individual-itinerary:hover {
  color: whitesmoke;
  text-decoration: none;
  box-shadow: 6px 6px rgb(255, 77, 77);
}

.individual-itinerary a {
  color: whitesmoke;
}

.individual-itinerary a:hover {
  color: whitesmoke;
  text-decoration: none;
}


.display-itinerary-container {
  grid-column-start: 3;
  grid-column-end: 5;
  text-align: center;
  background-color: rgba(36, 162, 204, 0.491);
  margin: 100px;
  padding: 60px;
}

.itinerary-deleted-confirmation {
  grid-column-start: 3;
  grid-column-end: 5;
  text-align: center;
  margin: 100px;
  padding: 60px;
  font-size: xx-large;
}

.itinerary-details {
  background-color: ghostwhite;
  padding: 10px;
  margin: 10px;
}

.demo-button:hover {
  text-decoration: none;
}

button {
  color: black;
}

button a {
  color: black;
}