.navbar-custom {
  background-color: black;
}

.navlink {
  color: white;
}

.navbar-brand {
  color: greenyellow;
  font-weight: bold;
}

h1 {
  text-align: center;
}

body {
  display: grid;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.home, .signin-form, .new-itinerary-form {
  grid-column-start: 3;
  grid-row-start: 1;
  text-align: center;
}

.itinerary-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.individual-itinerary {
  grid-column-start: 3;
  grid-column-end: 5;
  text-align: center;
}
